body {
  background-color: rgb(36, 36, 36) !important;
  color: #f3f3f3 !important;
}

.header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}